{% if config.SQL_Run1 | length > 0 %}

    {{ stage('Insert SQL1') }} 

    INSERT INTO {{ this }} (SYSTEM_START_DATE, SQL_STMT) 
    SELECT CURRENT_TIMESTAMP, '{{ config.SQL_Run1 | replace("'", '"') }}' 

    {{ stage('Run SQL1') }}

    {{ config.SQL_Run1 }}

{% endif %}
