{% set has_business_key = columns | selectattr("isBusinessKey") | list | length > 0 %}
{% set is_type_2 = columns | selectattr("isChangeTracking") | list | length > 0 %}
{% set ig_cols = columns | selectattr("igUpdates") | map(attribute="name") | list %}


{% for test in node.tests if config.testsEnabled %}
    {% if test.runOrder == 'Before' %}
        {{ test_stage(test.name, test.continueOnFailure) }}
        {{ test.templateString }}
    {% endif %}
{% endfor %}

{% if config.preSQL %}
    {{ stage('Pre-SQL') }}
    {{ config.preSQL }}
{% endif %}

    {% for source in sources %}
        {{ stage('MERGE ' + source.name | string ) }}
        MERGE INTO {{ ref_no_link(node.location.name, node.name) }} "TGT"
        USING (
            SELECT
            {% for col in source.columns if not col.isSurrogateKey %}
                {% if col.isSystemVersion %}
                    1
                {% elif col.isSystemCurrentFlag %}
                    'Y'
                {% else %}
                    {{ get_source_transform(col) }}
                {% endif %}
                AS "{{ col.name }}"
                {%- if not loop.last %}, {% endif %}
            {% endfor %}
            {{ source.join }})
            AS "SRC"
        ON
        {% for col in source.columns if col.isBusinessKey -%}
            {% if not loop.first %}
                AND
            {% endif %}
            "SRC"."{{ col.name }}" = "TGT"."{{ col.name }}"
        {% endfor %}
        WHEN MATCHED
        {% for col in source.columns if not (   col.isBusinessKey or
                                                col.isSurrogateKey or
                                                col.isSystemVersion or
                                                col.isSystemCurrentFlag or
                                                col.isSystemStartDate or
                                                col.isSystemEndDate or
                                                col.isSystemUpdateDate or
                                                col.isSystemCreateDate or 
                                                col.name in ig_cols)   
                                     %}
            {% if loop.first %}
                AND (
            {% else %}
                OR
            {% endif %}
            NVL( TO_CHAR({% if col.dataType.startswith('NUMBER') %}CAST("SRC"."{{ col.name }}" AS {{col.dataType}}) {% else %} "SRC"."{{ col.name }}" {% endif %}), '**NULL**') <> NVL( TO_CHAR({% if col.dataType.startswith('NUMBER') %}CAST("TGT"."{{ col.name }}" AS {{col.dataType}}) {% else %} "TGT"."{{ col.name }}" {% endif %}), '**NULL**')
            {% if loop.last %}
                )
            {% endif %}
        {% endfor %}
        THEN UPDATE SET
        {%- for col in source.columns if not (  col.isBusinessKey or
                                                col.isSurrogateKey or
                                                col.isSystemVersion or
                                                col.isSystemCurrentFlag or
                                                col.isSystemStartDate or
                                                col.isSystemEndDate or
                                                col.isSystemCreateDate or 
                                                col.name in ig_cols) %}
                "TGT"."{{ col.name }}" = "SRC"."{{ col.name }}"
            {% if not loop.last %}, {% endif %}
        {% endfor %}
        WHEN NOT MATCHED THEN
        INSERT (
        {%- for col in source.columns if not col.isSurrogateKey %}
            "{{ col.name }}"
            {% if not loop.last %}, {% endif %}
        {% endfor -%}
        )
        VALUES (
        {%- for col in source.columns if not col.isSurrogateKey %}
            "SRC"."{{ col.name }}"
            {% if not loop.last %}, {% endif %}
        {% endfor -%}
        )
    {% endfor %}


{% if config.postSQL %}
    {{ stage('Post-SQL') }}
    {{ config.postSQL }}
{% endif %}
	

{% if config.testsEnabled %}
	{% for test in node.tests %}
		{% if test.runOrder == 'After' %}
			{{ test_stage(test.name, test.continueOnFailure) }}
			{{ test.templateString }}
        {% endif %}
	{% endfor %}

	{% for column in columns %}
		{% for test in column.tests %}
			{{ test_stage(column.name + ": " + test.name) }}
			{{ test.templateString }}
		{% endfor %}
	{% endfor %}
{% endif %}