{% if node.materializationType == 'table' %}
   {% if config.preSQL %}
       {{ stage('Pre-SQL') }}
       {{ config.preSQL }}
  
   {% endif %}
 
          
   {{ stage('Merge Link') }}
   MERGE INTO {{ ref_no_link(node.location.name, node.name) }} "TGT" USING
   (
       {% for source in sources %}
       SELECT
       {% for col in source.columns %}
           {{ get_source_transform(col) }} AS "{{ col.name }}"
           {%- if not loop.last -%}, {% endif %}
       {% endfor %}
 
       {{ source.join }}
 
       {% if not loop.last %}
           {{ config.insertStrategy }}
       {% endif %}
   {% endfor %}
   )
   AS "SRC"
   ON
   {% for col in sources[0].columns if (col.isLinkHash) -%}
       {% if not loop.first %}
           AND
       {% endif %}
       "SRC"."{{ col.name }}" = "TGT"."{{ col.name }}"
   {% endfor %}
   WHEN NOT MATCHED THEN
   INSERT
   (
       {% for col in columns %}
           "{{ col.name }}"
           {%- if not loop.last -%}, {% endif %}
       {% endfor %}
   ) VALUES
   (
       {% for col in columns %}
           "SRC"."{{ col.name }}"
           {%- if not loop.last -%}, {% endif %}
       {% endfor %}
   )
 
   {% if config.postSQL %}
       {{ stage('Post-SQL') }}
       {{ config.postSQL }}   
   {% endif %}
{% endif %}
