{{ stage('Create Iceberg Table') }}

CREATE OR REPLACE ICEBERG TABLE {{ ref_no_link(node.location.name, node.name | lower) }}
(
	{% for col in columns %}
		"{{ col.name | lower }}" {{ col.dataType }}
		{%- if not col.nullable %} NOT NULL
			{%- if col.defaultValue | length > 0 %} DEFAULT {{ col.defaultValue }}{% endif %}
		{% endif %}
		{%- if col.description | length > 0 %} COMMENT '{{ col.description | escape }}'{% endif %}
		{%- if not loop.last -%}, {% endif %}
	{% endfor %}
)
BASE_LOCATION = '{{ config.baseLocation }}'
{%- if node.description | length > 0 %} COMMENT = '{{ node.description | escape }}'{% endif %}
