{% set source = sources[0] %}
{{ stage('Create View') }}
CREATE OR REPLACE VIEW {{ ref_no_link(node.location.name, node.name) }}
    (
        {% for col in columns %}
            "{{ col.name }}"
            {%- if col.description | length > 0 %} COMMENT '{{ col.description | escape }}'{% endif %}
            {%- if not loop.last -%}, {% endif %}
        {% endfor %}
    )
    {%- if node.description | length > 0 %} COMMENT = '{{ node.description | escape }}'{% endif %}
    AS
    SELECT 
        {% for col in source.columns %}
            {% if col.isSum  %}
                SUM({{ get_source_transform(col) }})
            {% elif col.isCountDistinct %}
                COUNT(DISTINCT {{ get_source_transform(col) }})
            {% elif col.isMin %}
                 MIN({{ get_source_transform(col) }})
            {% elif col.isMax %}
                MAX({{ get_source_transform(col) }})
            {% elif col.isAvg %}
                AVG({{ get_source_transform(col) }})
            {% else %}
                {{ get_source_transform(col) }}
            {% endif %}
            {%- if not loop.last -%}, {% endif %}
        {% endfor %}
    {{ source.join }}
    GROUP BY 
        {% for col in source.columns if not col.isSum and not col.isMin and not col.isMax and not col.isAvg and not col.isCountDistinct and not col.isCount -%}
            {{ get_source_transform(col) }} {%- if not loop.last -%}, {% endif %}
        {% endfor %}

