{% set source = sources[0] %}

{{ stage('Create Landing table')}}
CREATE OR REPLACE TABLE {{this}}
  {% if config.fileType == "CSV" %}
    {% for col in source.columns if (col.name | upper != "VALUE" and col.name | upper != "METADATA$FILENAME") %}
      {% if loop.first %}({% endif %}
        "{{ col.name }}" {{ col.dataType }} AS (value:c{{ loop.index }}::{{ col.dataType }})
      {%- if col.description | length > 0 %} COMMENT '{{ col.description }}'{% endif %}
      {%- if not loop.last -%}, {% else %}){% endif %}
    {% endfor %}
  {% endif %}
  {% for col in source.columns if (col.name | upper == "VALUE" or col.name | upper == "METADATA$FILENAME") %}
    {% if loop.first %}({% endif %}
      "{{ col.name }}" {{ col.dataType }} 
    {%- if col.description | length > 0 %} COMMENT '{{ col.description }}'{% endif %}
    {%- if not loop.last -%}, {% else %}){% endif %}
  {% endfor %}

{{ stage('Create Snowpipe') }}
CREATE OR REPLACE PIPE  {{ this | replace (node.name, "PIPE_"+node.name) }}
  auto_ingest = true
  
AS
  COPY INTO {{ this }} (VALUE)
  FROM  @{{parameters.stage_location}}.{{ config.fileLocation | upper  }}
  FILE_FORMAT = (TYPE = '{{ config.fileType }}');

