{% for test in node.tests if config.testsEnabled %}
    {% if test.runOrder == 'Before' %}
        {{ test_stage(test.name, test.continueOnFailure) }}
        {{ test.templateString }}
    {% endif %}
{% endfor %}


{% if config.preSQL %}
    {{ stage('Pre-SQL') }}
    {{ config.preSQL }}
{% endif %}

{% set source = sources[0] %}

{% if config.truncateBefore %}

    {{ stage('Truncate  Table') }}
    TRUNCATE IF EXISTS {{ this }}

{% endif %}


{{ stage('Insert ' + source.name | string ) }}
INSERT INTO {{ this }}
(
    DATA
)
SELECT  
    PARSE_JSON(REPLACE(TO_CHAR(object_construct(*)),'''', '')) AS DATA
FROM (
    SELECT *
    {{ source.join }} 
    PIVOT(MAX({{config.valCol.name}}) FOR {{config.keyCol.name}} IN (ANY)) as PVT
) TGT


{% if config.testsEnabled %}
	{% for test in node.tests %}
		{% if test.runOrder == 'After' %}
			{{ test_stage(test.name, test.continueOnFailure) }}
			{{ test.templateString }}
        {% endif %}
	{% endfor %}

	{% for column in columns %}
		{% for test in column.tests %}
			{{ test_stage(column.name + ": " + test.name) }}
			{{ test.templateString }}
		{% endfor %}
	{% endfor %}
{% endif %}